/*Header Top Section Start*/
header{background-color: #251793;}
.header_section{margin-top: 10px;}
.logo_area{width: 15% !important;}
.header_title{}
.header_title h1 a{text-decoration: unset !important; color:#fff; font-weight: bold; }
.header_subtitle{}
.header_subtitle h5{color:#fff; font-size: 24px;font-weight: bold;}
.header_subtitle h6{color:#fff; font-size: 22px;font-weight: bold;}

/*Header Top Section End*/

/*Navigation Section Start*/

.nav a{
	color: #fff;
	font-size: 16px;
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover{
	text-decoration: none;
    background-color: #564646 !important;
}

/*Navigaton Section End*/

.breakingNews{
  width: 100%;
    height: 40px;
    background: #FFF;
    position: relative;
    border: solid 2px rgba(5,33,21, .99);
    overflow: hidden;
}

.breakingNews > .bn-title{
 width: auto;
    height: 40px;
    display: inline-block;
    background: #000080;
    position: relative; 
}

.breakingNews > .bn-title > h2{
  display: inline-block;
    margin: 0;
    padding: 0 20px;
    line-height: 40px;
    font-size: 20px;
    color: #FFF;
    height: 40px;
    box-sizing: border-box;
}

.breakingNews > .bn-title > span{
      width: 0;
    position: absolute;
    right: -10px;
    top: 10px;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(5,33,21, .99);
}

.breakingNews > ul{
      padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 210px;
    top: 0;
    right: 40px;
    height: 40px;
    font-size: 16px;
}

.breakingNews > ul > li{
      position: absolute;
    height: 40px;
    width: 100%;
    line-height: 40px;
}


/*Content Section Start*/
#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  	border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  	border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url("slider/bhec3.jpg");
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url("slider/bhec4.jpeg");
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url("slider/bhec1.jpeg");
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url("slider/bhec2.jpeg");
      background-size: cover;
    background-repeat: no-repeat;
}


.year{
	transform: rotate(270deg);
    position: absolute;
    margin-left: 23px;
    margin-top: 13px;
    font-weight: bolder;
    color: orange;
}

.notice-sidebar span{
	color:blue;
}


.bottom-border{
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
}

.content-border{
	border-bottom: 1px solid #ddd;
}

.notice-bottom{
	margin-bottom: 20px;
}

.notice-details{
	width: 83%;
}

.notice{
	padding-bottom: 12px;
}

.authirity-message{
	padding-bottom: 12px;
	width: 100%;
}

.welcome_message{
	margin-top: 5px;
}

.messages{
	margin-top: 5px;
}
.messages h5{
	font-size: 17px !important;
}

.fb-box{
	box-shadow: 0px 0px 3px #666;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

/*At a Details Page Start*/

.box{
	
    box-shadow: 0px 0px 3px #1d1dbf;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.mp{
  margin: 0px !important;
  padding: 0px !important;
}

.sidebar-menu{
  padding: 5px 0px 5px 19px;
  color: #3C5487;
}

.sidebar-menu a{
  text-decoration:none;
}

.sidebar-menu:hover{
  background-color: #D7D7D7;
}

/*At a Details Page End*/


/*Breadcrumb Start*/

.breadcrumb{
    height: 50px;
    background:#273ebf;
    color:#fff;
    margin-bottom: 10px !important;
    }
.breadcrumb li a{
    color:#fff;
	font-size:15px;
	text-decoration: none;
    }
/*Breadcrumb End*/

.p-head{
	font-size: 20px;
    font-weight: bold;
    background: #273fc1 !important;
}

/*Photo Details Page Start*/


.event-bottom span{
	padding-left: 168px;
	color: #736AFF;
	font-weight: bold;
}

.governing-bottom{
	margin-bottom: 12px;
}

.admission a{
	text-decoration: none;
}

.admission-result-head{
	border: 2px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.admission-result-body{
	border: 2px solid #ddd;
	padding: 5px;
}

.serial{
	font-size: 16px;
    font-weight: bold;
}

.downoad{
	font-size: 16px;
    font-weight: bold;
}

.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
/*Photo Details Page End*/

/*Video Heading Start*/

.well-heading{
	background:#273fc0;
	color: white;
	font-weight:bold; 
	font-size:18px;
}

.well{
	padding: 14px !important;
    margin-bottom: 0px !important;
}

/*Video Heading End*/

/*Adminstration page Start*/
.margin-right20{
  margin-right: 20px;
}


.margin-bottom20{
  margin-bottom:20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.mar-top {
    margin-top: 15px;
}

.teacher-info > div > p:first-child {
    border-bottom: 1px solid #dddddd !important;
}

.teacher-info > div > p > span:first-child {
    width: 30%;
    font-weight: bold;
    padding: 3px;
    margin: 2px;
    text-align: left;
}

.teacher-info > div > p > span:nth-child(2) {
    padding: 3px;
    margin: 2px;
    padding-left: 5px;
    text-align: left;
}
/*Adminstration page End*/

/*Video Category page start*/

.mar-bottom10 {
    margin-bottom: 10px;
}

.mar-top10 {
    margin-top: 10px;
}

/*Video Category page end*/

/*Notice Page Start*/
.mar-top10{
	margin-top: 10px;
}

.head-h1{
    font-size: 18px;
    margin: 0px;
}

.details-right-panel > div {
    margin-left: -5px !important;
}

.top-head-right, .right-video, .related-topics {
    background-color: #dddddd;
    padding: 15px !important;
    font-size: 17px;
    color: rgba(3,31,19, .99);
}

.box-title{
	font-weight: bold;
}

.margin-top10{
	margin-top: 10px !important;
	margin-bottom: 10px;
}
/*Notice Page End*/

/*Syllabus Page Start*/

.box-title {
    color: rgba(3,31,19, .99);
    font-size: 122%;
    font-weight: bold;
    padding-top: 10px;
}

.details-header {
    margin-top: 0px;
    font-size: 20px;
    padding: 6px 10px 6px 10px;
    font-family: 'PT Sans', sans-serif;
}

.syllabus{
	padding: 10px;
    border: 1px solid blue;
}

.syllabus a{
	text-decoration: none;
	color: #ffffff;
}

.syllabus-view{
	color: blue;
	font-weight: bold; 
}
/*Syllabus Page End*/


/*Photo Gallery Page Start*/
.body-container {
    padding: 10px;
}

.folder-box {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-height {
    height: 120px !important;
    width: 100% !important;
}
/*Photo Gallery Page End*/

/*Video Gallery Start*/

.video-body {
    background-color: #82CAFA;
    padding: 10px 0px 0px 10px;
    margin-top: 10px;
}

.video-name {
    font-size: 1.4em;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 15px;
}

.text-muted{
	color: #ffffff;
}

.video-body a{
	color: #ffffff;
}
/*Video Gallery End*/

/*Admission Section Start*/

.brief-title {
    font-size: 140%;
    font-weight: bold;
    margin-top: 0px;
    display: inline !important;
}


/*Admission Section End*/

/*Content Section End*/


/*Footer Section Start*/
footer.nb-footer {
	background: #2a2f93;
	border-top: 4px solid #2a2f93;
}

footer.nb-footer .about {
	margin: 0 auto;
	margin-top: 33px;
	max-width: 1170px;
	text-align: center; 
}

footer.nb-footer .about p {
	font-size: 15px;
	color: #fff;
	margin-top: 30px; 
}

footer.nb-footer .about .social-media {
	margin-top: 15px; }

footer.nb-footer .about .social-media ul li a {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.3); 
}

footer.nb-footer .about .social-media ul li a:hover {
	background: #b78c33;
	color: #fff;
	border-color: #b78c33; 
	text-decoration: none;
}

footer.nb-footer .footer-info-single {
	margin-top: 30px; }

footer.nb-footer .footer-info-single .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	border-left: 4px solid #b78c33;
	padding-left: 5px; 
}

footer.nb-footer .footer-info-single ul li a {
	display: block;
	color: #fff;
	padding: 2px 0; 
	text-decoration: none;
	font-size: 16px;
}

footer.nb-footer .footer-info-single ul li a:hover {
	color: #03B4FB; }

footer.nb-footer .footer-info-single p {
	font-size: 16px;
	line-height: 20px;
	color: #fff; 
	text-align: justify;
}

footer.nb-footer .copyright {
	margin-top: 15px;
	background: #595ec7;
	padding: 7px 0;
	color: #fff; 
	text-align: center;
	
}

footer.nb-footer .copyright p {
	margin: 0;
	padding: 0; 

}

footer.nb-footer .copyright a{
	text-decoration: none;
	color:orange;
}
/*footer Section End*/

/*contact us page start*/
.header-title
 	{
     text-align: center;
     color:#00bfff;
     }

#tip 
    {
     display:none;  
     }

.fadeIn
        {
          animation-duration: 3s;
        }

.form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

.form-control:focus
        {
        	border:1px solid #00bfff;
        }

.textarea-contact
        {
        	resize:none; 
        }

.btn-send
        {
        	border-radius: 0px;
        	border:1px solid #00bfff;
        	background:#00bfff;
        	color:#fff; 
        }

.btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;   
        }

 .second-portion
        {
        	margin-top:50px; 
        }

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

@media only screen and (max-width: 768px){
		.contact-form
			{
				margin-top:25px; 
			}

			.btn-send
			{
				width: 100%;
				padding:10px; 
			}

			.second-portion
			{
				margin-top:25px; 
			}
		}


